body {
    margin:0;
    padding:0;
    font-family:san-serif;  
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQn0tTAb8cOom14FXAUV93xNadQsy7wfqIb0vxF23pZOsneg3UX&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center ;
}
ul{
    list-style-type:none ;
    margin:0;
    padding:0;
    text-align:right ;
    font-size:20px;
}
li{
    display:inline ;
    margin:7px;
    color:black;
    font-size:10px;
}
#img {
        margin-top:10px 
 }

center {
    margin-top:100px;
}
 .blue{
     color:blue;
     font-weight:80%;
     font-family:serif;
     font-size:45px;
     
     
 }
 .red{
     color:red;
     font-weight:80%;
     font-family:monospace;
     font-size:45px;
 }
 .yellow{
     color:yellow;
     font-weight:80%;
     font-family:monospace;
     font-size:45px;
 }
 .green{
     color:green;
     font-weight:80%;
     font-family:cursive;
     font-size:45px;
 }
center {
     margin-top:120px;
 }
input{
    padding:10px;
    width:60%;
    float:left;
    font-size:10px;
    border:1px solid ;
    background:#f1f1f1;
    margin-top:10px;
}
button {
    padding:10px;
    float:right ;
    position:absolute ;
    font-size:10px;
    border:1px solid;
    width:10%;
    color:grey;
    background:blue;
    margin-top:10px;
}
i{
    font-size:10px;
    color:black;
}
a{
   margin:25px;
   font-family:serif;
   font-size:12px;
   display:inline-block  ;
   color:blue;

    
}